body{
   background-color: black;
   margin: 0;
}
.abc  {
   background-color: black;
   margin: 0;
}

/* Navigation Bar */
.navbar{
   background-color: black; 
   /* display: flex;
   flex-direction: row; */
      /* width: 100%;
      height:100px; */
   position : fixed;

    /* border: 2px solid white;  */
    justify-content: space-around; 
   align-items: center;
   color: white;   
}  
.logo{
   align-self: baseline; 
   align-self: center;
   padding-left: 150px;

}
  .navitems>ul{
   display: flex;
   flex-direction: row;
   margin-right: 150px; 
    justify-content: end; 
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-transform: uppercase;
   padding: 20px ;
   align-items: end;

} 


  .navitems>ul>li{
   list-style-type: none;
   padding: 20px; 

}
.navitems>ul>li>a{
   text-decoration: none;
   color: #EF4135;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-transform: uppercase;
   

}

/* Section2 */
.sec1{
   display: flex;
   flex-direction: row;
}
.sec1-1{
   /* width: 60%; */
   height: auto;
   text-align: center;
   padding-top: 120px;

}

.one{

   width: 350px;
   /* margin-top: 4%;
   margin-bottom: 0%;
   margin-left: 17%;
   margin-right: 11%;  */
}
.two{
   font:24px Teko Arial, Helvetica, sans-serif;
   color: #FEFEFE;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.three{
   word-spacing: 10%;
   font:24px Teko Arial, Helvetica, sans-serif;
   color: #FEFEFE;

}
.four{
   color: #FEFEFE;
   text-align: justify;
   background: #EF4135;
   border-radius: 30px;
   box-shadow: 1px 0px 10px 3px #EF4135;
   font-family: Impact, Haettenschweiler,'Arial Narrow Bold', sans-serif;
   padding: 15px;
   border: none;
   font-size: x-large;
   letter-spacing: 2px;
   /* font:19px Teko Arial, Helvetica, sans-serif; */
}
.four:hover{
   background-color: #c02d22;
}
.five{
   /* margin-bottom: 0%;
   margin-left: 15%;
   margin-right: 12%; */
   color: #FEFEFE;
   background-color: black;
}
 .main{
   width: 100%;
   box-sizing: border-box;
    font:20px Teko Arial, Helvetica, sans-serif;  
   /* font: small-caps bold 24px/1 sans-serif; */
   color: #FEFEFE;
   word-spacing: 2px;
   letter-spacing: 5px;
   /* margin-left: 9%; */
   /* padding: 0px 0px 8px; */
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
   display: flex;
   flex-direction: row;
   justify-content: space-around;  
   margin-top: 32px;
} 
.pone{
   font:22px Helvetica;
   word-spacing: 5px;
   letter-spacing: normal;
   
   /* font-family: 'Courier New', Courier, monospace; */
}
li::marker{
   color: skyblue;
   font-size: 20px;
}


.sub-main1{
   width: 60%;
   padding-left: 150px;
   
}
.sub-main2{
   width: 40%;
   color: #FEFEFE;
}
.hr{
   color: #EF4135;
}
.new{
   border: 5px solid #EF4135;
}

.main2{
   display: flex;
   flex-direction: row;
}
.las{
   width: 400px; 
   max-height: 650px;
   background-color: black;
   margin-left: 200px;
   margin-right: 70px;
   margin-top: 35px;
   padding-left: 15px;
   padding-bottom: 25%;
   padding-right: 5px;
   padding-top: 30px;
   box-sizing: border-box;
   box-shadow: 1px 0px 15px 5px #3ca7d1;
   border-radius: 10px;
}
.las1{
width: 400px; 
height: 10%;
background-color: black;
margin-left: 200px;
margin-right: 70px;
margin-top: 35px;
padding-left: 15px;
padding-bottom: 25%;
padding-right: 5px;
padding-top: 30px;
box-sizing: border-box;
box-shadow: 1px 0px 15px 5px #3ca7d1;
border-radius: 10px;
} 
.heading1{
   color: #EF4135;
   font:30px Teko Arial, Helvetica, sans-serif;
   margin: 0px 0px 8px;
   padding: 10px 0px 0px;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ptwo{
   color: #FEFEFE;
   font:19.5px Teko Arial, Helvetica, sans-serif;
   text-align: justify;
}

.las>button>a{
   text-decoration: none;
   color: white;
}
.button1{
   font-size: 18px;
}
.support{
   color: #FEFEFE;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   margin: 36px 0px 0px ;
   font: 25px Arial; 
}
.child1{
 width: 400px; 
height: 10%;
background-color: black;
margin-left: 180px;
margin-right: 70px;
margin-top: 35px;
padding-left: 10px;
padding-bottom: 2%;
padding-right: 10px;
padding-top: 15px;
box-sizing: border-box;
box-shadow: 1px 0px 10px 3px #3ca7d1;
border-radius: 10px;
}
.img{
   margin-left: 4%;
}

.iheading{
   color: #EF4135;
   font:30px Teko Arial, Helvetica, sans-serif;
   margin: 0px 0px 8px;
   padding: 10px 0px 0px;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.child2{
   width: 400px; 
  height: 10%;
  background-color: black;
  margin-left: -3%;
  margin-right: 70px;
  margin-top: 35px;
  padding-left: 10px;
  padding-bottom: 2%;
  padding-right: 10px;
  padding-top: 15px;
  box-sizing: border-box;
  box-shadow: 1px 0px 10px 3px #3ca7d1;
  border-radius: 10px;
  }
  .img1{
     margin-left: 4%;
  }
  
  .i1heading{
     color: #EF4135;
     font:30px Teko Arial, Helvetica, sans-serif;
     margin: 0px 0px 8px;
     padding: 10px 0px 0px;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .child2{
   width: 400px; 
  height: 10%;
  background-color: black;
  margin-left: -3%;
  margin-right: 70px;
  margin-top: 35px;
  padding-left: 10px;
  padding-bottom: 2%;
  padding-right: 10px;
  padding-top: 15px;
  box-sizing: border-box;
  box-shadow: 1px 0px 10px 3px #3ca7d1;
  border-radius: 10px;
  }
  .img1{
     margin-left: 4%;
  }
  
  .i1heading{
     color: #EF4135;
     font:30px Teko Arial, Helvetica, sans-serif;
     margin: 0px 0px 8px;
     padding: 10px 0px 0px;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .child3{
   width: 400px; 
  height: 10%;
  background-color: black;
  margin-left: -3%;
  margin-right: 70px;
  margin-top: 35px;
  padding-left: 10px;
  padding-bottom: 2%;
  padding-right: 10px;
  padding-top: 15px;
  box-sizing: border-box;
  box-shadow: 1px 0px 10px 3px #3ca7d1;
  border-radius: 10px;
  }
  .img2{
     margin-left: 4%;
  }
  
  .i2heading{
     color: #EF4135;
     font:30px Teko Arial, Helvetica, sans-serif;
     margin: 0px 0px 8px;
     padding: 10px 0px 0px;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
.parent{
   display: flex;
   flex-direction: row;
}
.parent1{
   display: flex;
   flex-direction: row;
}
.child4{
   width: 400px; 
  height: 10%;
  background-color: black;
  margin-left: 26%;
  margin-right: 70px;
  margin-top: 35px;
  padding-left: 10px;
  padding-bottom: 2%;
  padding-right: 10px;
  padding-top: 15px;
  box-sizing: border-box;
  box-shadow: 1px 0px 10px 3px #3ca7d1;
  border-radius: 10px;
  }
  .img3{
     margin-left: 4%;
  }
  
  .i3heading{
     color: #EF4135;
     font:30px Teko Arial, Helvetica, sans-serif;
     margin: 0px 0px 8px;
     padding: 10px 0px 0px;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
   .child5{
   width: 400px; 
  height: 10%;
  background-color: black;
  margin-left: -3%;
  margin-right: 70px;
  margin-top: 35px;
  padding-left: 10px;
  padding-bottom: 2%;
  padding-right: 10px;
  padding-top: 15px;
  box-sizing: border-box;
  box-shadow: 1px 0px 10px 3px #3ca7d1;
  border-radius: 10px;
  }
  .img4{
     margin-left: 4%;
  }
  
  .i4heading{
     color: #EF4135;
     font:30px Teko Arial, Helvetica, sans-serif;
     margin: 0px 0px 8px;
     padding: 10px 0px 0px;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .parent2{
   width: 60%;
   padding-left: 150px;
   color: #FEFEFE;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font: 20px Impact;
   letter-spacing: 8px;
   
  }
  .head1{
         text-align: justify;
         margin-bottom: 0%;
         margin-left: 10%;
         font-size: x-large;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
   .parag{
   color: #FEFEFE;
   font:16px Avant;
   text-align: justify;
   margin-left: 9.5%;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .parent3{
      display: flex;
      flex-direction: row;
   }
   .fifthimg{
      margin-left: 3%;
      margin-top: none;
   }